<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="ShoppingListDirectiveApp">
  <head>
    <meta charset="utf-8">
    <script src="jquery-3.1.0.min.js"></script>
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="styles-directive-transclude.css" />
    <title>Directive with transclude</title>
    <style>  {font-size: 1.2em;} </style>
  <body>
    <h1>Directive with  Transclude</h1>

    <div id="list" ng-controller="ShoppingListController as list">
      <div>
        <input type="text" ng-model="list.itemName" placeholder="Item name" />
        <input type="text" ng-model="list.itemQuantity" placeholder="quantity" />
        <button ng-click="list.addItem();">Add Item to Shopping List</button>
        <span>Lastly removed item: {{list.lastRemoveItem}}</span>
      </div>
        
      <shopping-list 
        id="list1" items="list.items" title="{{list.title}}" on-remove="list.removeItem(index)">
        <div class="error">Error: {{list.warning}}</div>
      </shopping-list>

      <shopping-list 
        id="list2" items="list.items" title="{{list.title}}" on-remove="list.removeItem(index)">
        <div>
          <div class="title">OH, THE HORROR:</div>
          <div>Error: {{list.warning}}</div>
        </div>
      </shopping-list>

    </div>
  </body>
</html>
